
<ul class="breadnav clearfix">
	<li class="bnav-item"><a href="index.html">首页</a></li>
	<li class="bnav-item">&lt;</li>
	<li class="bnav-item"><a href="news.html">新闻资讯</a></li>
</ul>
<div class="newslist-wrap">
	<p class="newslist-tit">新闻资讯</p>
	<dl class="newslist-box clearfix" ng-repeat="item in indexNews">
		<dt class="newslist-pic">
			<img ng-src="../assets/home/{{item.pic}}" width="300"/>
		</dt>
		<dd class="newslist-txt">
			<a href="news-con.html" class="newslist-font24">{{ item.title }}</a>
			<ul class="newslist-ul">
				<li class="newslist-li">
					<p class="newslist-time">2016.12.25</p>
				</li>
				<li class="newslist-li">
					<a href="news-con.html" class="newslist-con">{{ item.description }}</a>
				</li>
				<li class="newslist-li"><a class="newslist-link" ui-sref="index.news.detail">&lt;阅读全文&gt;</a></li>
			</ul>
		</dd>
	</dl>
	<span class="news-line">
		<img src="./assets/home/img/news-line.png"/>
	</span>
	
	<ul class="shop-paging clearfix">
		<li><a href="javascript:;" class="pag-item">&lt;</a></li>
		<li><a href="news.html" class="pag-item pag-active">1</a></li>
		<li><a href="javascript:;" class="pag-item">2</a></li>
		<li><a href="javascript:;" class="pag-item">3</a></li>
		<li><a href="javascript:;" class="pag-item">4</a></li>
		<li><a href="javascript:;" class="pag-item">&gt;</a></li>
	</ul>
</div>