<ul class="breadnav clearfix">
	<li class="bnav-item"><a href="index.html">首页</a></li>
	<li class="bnav-item">&lt;</li>
	<li class="bnav-item"><a href="pinpai.html">品牌故事</a></li>
	<li class="bnav-item">&lt;</li>
	<li class="bnav-item"><a href="javascript:;">公司简介</a></li>
</ul>
<div class="comp-wrap">
	<p class="comp-tit">公司简介</p>
	<div class="comp-pic">
		<img ng-src="../assets/home/{{indexSin.pic}}"/>
	</div>
	<div class="comp-txt" ng-bind-html="indexSin.content | trustHtml">
		
	</div>
</div>
