<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">美食</strong> / <small>{{id?"编辑":"添加"}}</small></div>
    <div class="am-fr am-cf"><button type="button" ui-sref="admin.company" class="am-btn am-btn-secondary am-btn-xs">返回</button></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab2">详细描述</a></li>
    </ul>
    <!-- 公司id company_id
              公司名称 title
              图片 pic 
              电话 phone
              传真 tel 
              邮编 postal_code
              地址 address -->
    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab2">
        <form class="am-form">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              公司名称
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" ng-model='company.title'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              电话
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='company.phone'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                传真
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='company.tel'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                 邮编
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='company.postal_code'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                地址
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='company.address'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">
              图片
            </div>
            <input type="hidden" name="" ng-model="company.oldpic">
            <div class="am-u-sm-1">
                <div class="am-btn am-btn-primary am-btn-xs"
                 ngf-select ng-model="company.pic"
                  ngf-pattern="'image/*'"
                ngf-accept="'image/*'"
                 ngf-max-size="20MB"
                  ngf-min-height="100"
                ngf-resize="{width: 100, height: 100}">上传</div>
            </div> 
            <div class="am-u-sm-9">
               <img style="width:100px;height:100px;" ngf-thumbnail="company.pic || '/thumb.jpg'"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="save()">保存</button>
  </div>
</div>