<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新闻资讯</strong> / <small>{{id?"编辑":"添加"}}</small></div>
    <div class="am-fr am-cf"><button type="button" ui-sref="admin.news" class="am-btn am-btn-secondary am-btn-xs">返回</button></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab2">详细描述</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab2">
        <form class="am-form">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              标题
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='news.title'>
            </div>
            <div class="am-u-sm-6" ></div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              简介
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"   ng-model='news.description'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top-sm">
              <div class="am-u-sm-2 am-text-right">
                图片
              </div>
              <input type="hidden" name="" ng-model="news.oldpic">
              <div class="am-u-sm-1">
                  <div class="am-btn am-btn-primary am-btn-xs"
                   ngf-select ng-model="news.pic"
                    ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                   ngf-max-size="20MB"
                    ngf-min-height="100"
                  ngf-resize="{width: 100, height: 100}">上传</div>
              </div> 
              <div class="am-u-sm-9">
                 <img style="width:100px;height:100px;" ngf-thumbnail="news.pic || '/thumb.jpg'"/>
              </div>
            </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">
              内容
            </div>
            <div class="am-u-sm-10">
              <textarea rows="10" ng-model='news.content'  placeholder="请使用富文本编辑插件"></textarea>
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              发布时间
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"   ng-model='news.create_time'>
            </div>
            <div class="am-u-sm-6"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="save()">保存</button>
  </div>
</div>