  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"></strong> 网站设置/ <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <a type="button" ui-sref="admin.setting.add" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
              
              <button type="button" class="am-btn am-btn-default" ng-click="delAll()"><span class="am-icon-trash-o"></span> 删除</button>
            </div>
          </div>
        </div>
      </div>
      <div class="am-u-md-3 am-cf">
        <div class="am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" ng-model="slt">
                <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button">搜索</button>
                </span>
          </div>
        </div>
      </div>
    </div>
    <div class="am-g">
      <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
          <div class="am-btn-toolbar am-fl">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" ng-click="sltAll()" >全选</button>
              <button type="button" class="am-btn am-btn-default" ng-click="cancel()"> 取消</button>
              <button type="button" class="am-btn am-btn-default" ng-click="reverse()">反选</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">设置名称</th>
                <th class="table-title">设置链接</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in data | filter: {setting_name: slt} ">
              <td><input type="checkbox" class="ids" ng-value="item.setting_id" name="ids" ng-checked='is_checked'/></td>
              <td>{{item.setting_id}}</td>
              <td><a href="#">{{item.setting_name}}</a></td>
              <td><a href="#">{{item.setting_value}}</a></td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button ui-sref="admin.setting.edit({id:{{item.setting_id}}})" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="del(item.setting_id)"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr> 
          </tbody>
        </table>
          <div class="am-cf">
  共 {{totalItems}} 条记录
  <div class="am-fr">
    <ul class="am-pagination">
      <div uib-pagination 
            total-items="totalItems" 
            ng-model="currentPage" 
            max-size="maxSize" 
            items-per-page="limit"
            first-text="第一页" 
            previous-text="上一页" 
            next-text="下一页" 
            last-text="最后页" 
            boundary-links="true" 
            boundary-link-numbers="true"
            ng-change="page(currentPage)"
            ></div>
    </ul>
  </div>
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  <!-- content end --> 
 
