<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">美食</strong> / <small>{{id?"编辑":"添加"}}</small></div>
    <div class="am-fr am-cf"><button type="button" ui-sref="admin.shop" class="am-btn am-btn-secondary am-btn-xs">返回</button></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab2">详细描述</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab2">
        <form class="am-form">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              标题
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" ng-model='shop.title'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              菜品
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='shop.dishes'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                餐厅地址
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='shop.address'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                 所在地区
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='shop.region_id'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                餐厅标签
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='shop.tag'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
                营业时间
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm"  ng-model='shop.business_time'>
            </div>
            <div class="am-u-sm-6">*必填，不可重复</div>
          </div>
          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-2 am-text-right">
              图片
            </div>
            <input type="hidden" name="" ng-model="shop.oldpic">
            <div class="am-u-sm-1">
                <div class="am-btn am-btn-primary am-btn-xs"
                 ngf-select ng-model="shop.pic"
                  ngf-pattern="'image/*'"
                ngf-accept="'image/*'"
                 ngf-max-size="20MB"
                  ngf-min-height="100"
                ngf-resize="{width: 100, height: 100}">上传</div>
            </div> 
            <div class="am-u-sm-9">
               <img style="width:100px;height:100px;" ngf-thumbnail="shop.pic || '/thumb.jpg'"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="save()">保存</button>
  </div>
</div>