<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">简介</strong>/ <small>{{id?"编辑":"添加"}}</small></div>
    <div class="am-fr am-cf"><button type="button" ui-sref="admin.single" class="am-btn am-btn-secondary am-btn-xs">返回</button></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab2">详细描述</a></li>
    </ul>

    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab2">
        <form class="am-form">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              名称
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" ng-model='single.title'>
            </div>
            <div class="am-u-sm-6"></div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              内容
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" ng-model='single.content'>
            </div>
            <div class="am-u-sm-6"></div>
          </div>
        </form>
      </div>
  </div>
  <div class="am-margin">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" ng-click="save()">保存</button>
  </div>
</div>