<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,target-densitydpi=340,user-scalable=no">
    <title>添加分组</title>
    <link rel="stylesheet" href="/home/css/public.css" />
    <link rel="stylesheet" href="/home/css/group.css" />
  </head>
  <body id="body_bg">
    <form method="post">
      <div class="nav_data">
          <div class="left" onclick="location.href='/user/index'">添加分组</div>
          <div class="right"><button>保存</button></div>
      </div>
      <div class="data_box">
        <ul>
            <li>
                <input type="text" placeholder="请输入分组名称" name="name" required />
            </li>
        </ul>
      </div>
    </form>
  </body>
</html>